@CHARSET "UTF-8";

* {
	padding: 0px;
	margine: 0px;
}
body {
	background-color: #F3F1E9;
}
header {
	height: 60px;
	margin: 10px;
}
nav {
	margin: 10px;
}
nav ul {
	list-style: none;
	
}